
<div id="mobile-menu" class="w-full h-full absolute bg-black bg-opacity-50 z-10 hidden">
    <nav id="mobile-nav" class="w-[91.959%] bg-very-light-grey text-very-dark-blue pt-10 px-12 pb-[41px] absolute top-0 right-0 flex flex-col gap-[17px] animate__animated animate__fadeInLeft">
        <a class="text-[2rem] font-bold leading-10 outline-very-dark-blue" href="/portfolio">Porfolio</a>
        <a class="text-[2rem] font-bold leading-10 outline-very-dark-blue" href="/about">About Us</a>
        <a class="text-[2rem] font-bold leading-10 outline-very-dark-blue" href="/contact">Contact</a>
    </nav>
</div>

