---
const { name } = Astro.props
---
<divc class="hidden md:flex gap-12 items-center rotate-90 absolute top-[121px] left-[-185px] xl:left-[-220px]">
    <div class="bg-light-grey w-[104px] h-[1px]"></div>
    <p class="text-light-grey text-[1.125rem] font-medium leading-6 tracking-[18px] uppercase">{name}</p>
</div>