---
const { name } = Astro.props
---
<div class="origin-top-left rotate-90 hidden md:flex items-center gap-12  absolute top-0 left-[-35px] lg:left-[-78px]">
    <div class="bg-light-grey w-[104px] h-[1px]"></div>
    <p class="text-light-grey text-[1.125rem] font-medium leading-6 tracking-[18px] uppercase">{name}</p>
</div>